.message {
    position: absolute;
    display: block;
    margin: 20px 50px;
    padding: 20px 40px;
    height: auto;
    width: 500px;
    border: 1px spolid #DDDDDD;
    opacity: 0.7;
    transition: all 0.7s;


}

.message-danger {
    background-color: #F66358;
    color: white;
}

.message-success {
    background-color: #6ABC6E;
    color: white;
}

.message-info {
    background-color: #47A8F5;
    color: white;
}

.message-warning {
    background-color: #FFA92C;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: font-size 0.5s;
}

.closebtn:hover {
    color: white;
}
